*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#box{
    height: 700px;
    width: 700px;
    border:15px solid blue;
     background-color:black; 
    margin: auto;
    padding:0%;
     background-image:url(random.jpg); 
      boarde-color:rgb(200, 200, 60);
    display:inline-block;
}
#box{
    <p>lorem</p>
     <p> </p>
   
}
