*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#box{
    height: 500px;
    width: 500px;
    border:5px solid black;
     background-color: burlywood; 
    margin: auto;
     background-image:url(random.jpg); 
}