*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;

}
.firstcard{
    height: 500px;
    width: 500px;
    background-color: aquamarine;
}
.image img{
    height: 400px;
    width: 400px;

}
.secondcard{
    height: 500px;
    width: 500px;
    background-color: rgb(212, 189, 189);
    float: right;
}
.login{
    height: 400px;
    width: 350px;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 50px;
    border: solid black 5px;
}
.maincard{
    display: flex;
    margin-left: 285px;
    margin-top: 120px;
}
div.info{
    display: flex;
}
#checkbox{
    height: 20px;
    width: 20px;
}
#box{
    height: 25px;
    width: 220px;
    border-radius: 5px;
}
.f{
    float: right;
    display: flex;
    margin-left: 145px;
    margin-top: -18px;
}
#btn{
    display: flex;
    width: 100px;
    margin-top: 20px;
    margin-left: 104px;
}
